#breadcrumb {
  background-color: #e5e5e5;
  border-bottom: 1px solid #d6d6d6;
  padding-left: 10px;
}
#breadcrumb a {
  padding: 8px 20px 8px 10px;
  display: inline-block;
  background-image: url('../img/breadcrumb.png');
  background-position: center right;
  background-repeat: no-repeat;
  font-size: 11px;
  color: #666666;
}
#breadcrumb a:hover {
  color: #333333;
}
#breadcrumb a:hover i {
  margin-right: 5px;
  opacity: .8;
}
#breadcrumb a:last-child {
  background-image: none;
}
#breadcrumb a i {
  margin-right: 5px;
  opacity: .6;
}
#breadcrumb a.current {
  font-weight: bold;
  color: #444444;
}
