#header {
  height: 60px;
  position: relative;
  width: 100%;
  z-index: -9;
  h1 {
    background: url("../img/logo.png") no-repeat scroll 0 0 transparent;
    height: 31px;
    left: 15px;
    line-height: 600px;
    overflow: hidden;
    position: relative;
    top: 8px;
    width: 191px;
    a {
      display: block;
    }
  }
}
.fl {
  float: left;
}
.fr {
  float: right;
}