.quick-actions_homepage {
  width: 100%;
  text-align: center;
  float: left;
  margin-top: 10px;
}
.stat-boxes {
  display: inline-block;
  list-style: none outside none;
  margin: 20px 0 10px;
  text-align: center;
}
.stat-boxes li {
  background: #F6F6F6;
  border: 1px solid #D5D5D5;
  box-shadow: 0 1px 0 0 #FFFFFF inset, 0 1px 0 rgba(255, 255, 255, 0.4);
  display: inline-block;
  line-height: 18px;
  margin: 0 10px 10px;
  padding: 0 10px;
}
.stat-boxes li a:hover {
  background: #fff;
}
.stat-boxes li:hover {
  background: #fff;
}
.stat-boxes .left {
  text-shadow: 0 1px 0 #fff;
  float: left;
  border-right: 1px solid #DCDCDC;
  box-shadow: 1px 0 0 0 #FFFFFF;
  font-size: 10px;
  font-weight: bold;
  margin-right: 10px;
  padding: 10px 14px 6px 4px;
}
.stat-boxes .left span {
  display: block;
}
.stat-boxes .right {
  text-shadow: 0 1px 0 #fff;
  float: left;
  color: #666666;
  font-size: 12px;
  padding: 9px 10px 7px 0;
  text-align: center;
  width: 70px;
}
.stat-boxes .right strong {
  display: block;
  font-size: 26px;
  margin-bottom: 3px;
  margin-top: 6px;
}
.stat-boxes .peity_bar_good {
  color: #459D1C;
}
.stat-boxes .peity_line_good {
  color: #459D1C;
}
.stat-boxes .peity_bar_neutral {
  color: #757575;
}
.stat-boxes .peity_line_neutral {
  color: #757575;
}
.stat-boxes .peity_bar_bad {
  color: #BA1E20;
}
.stat-boxes .peity_line_bad {
  color: #BA1E20;
}
.quick-actions {
  display: inline-block;
  list-style: none outside none;
  margin: 20px 0 10px;
  text-align: center;
}
.quick-actions li {
  background: #F6F6F6;
  border: 1px solid #D5D5D5;
  box-shadow: 0 1px 0 0 #FFFFFF inset, 0 1px 0 rgba(255, 255, 255, 0.4);
  display: inline-block;
  line-height: 18px;
  margin: 0 10px 10px;
  padding: 0 10px;
  min-width: 175px;
  padding: 0;
}
.quick-actions li a {
  padding: 10px 30px;
  display: block;
  color: #666666;
  font-weight: bold;
  text-shadow: 0 1px 0 #ffffff;
}
.quick-actions li a:hover {
  background: #fff;
}
.quick-actions li a i[class^="icon-"] {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0 0;
  background-color: transparent;
  width: 32px;
  height: 32px;
  display: block;
  margin: 0 auto 5px;
}
.quick-actions li a i[class*=" icon-"] {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0 0;
  background-color: transparent;
  width: 32px;
  height: 32px;
  display: block;
  margin: 0 auto 5px;
}
.quick-actions li:hover {
  background: #fff;
}
.quick-actions li:active {
  background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#EEEEEE), to(#F4F4F4));
  background-image: -webkit-linear-gradient(top, #EEEEEE 0%, #F4F4F4 100%);
  background-image: -moz-linear-gradient(top, #EEEEEE 0%, #F4F4F4 100%);
  background-image: -ms-linear-gradient(top, #EEEEEE 0%, #F4F4F4 100%);
  background-image: -o-linear-gradient(top, #EEEEEE 0%, #F4F4F4 100%);
  background-image: linear-gradient(top, #EEEEEE 0%, #F4F4F4 100%);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2) inset, 0 1px 0 rgba(255, 255, 255, 0.4);
}
.quick-actions i.icon-book {
  background-image: url('../img/icons/32/book.png');
}
.quick-actions i.icon-cabinet {
  background-image: url('../img/icons/32/cabinet.png');
}
.quick-actions i.icon-calendar {
  background-image: url('../img/icons/32/calendar.png');
}
.quick-actions i.icon-client {
  background-image: url('../img/icons/32/client.png');
}
.quick-actions i.icon-database {
  background-image: url('../img/icons/32/database.png');
}
.quick-actions i.icon-download {
  background-image: url('../img/icons/32/download.png');
}
.quick-actions i.icon-graph {
  background-image: url('../img/icons/32/graph.png');
}
.quick-actions i.icon-home {
  background-image: url('../img/icons/32/home.png');
}
.quick-actions i.icon-lock {
  background-image: url('../img/icons/32/lock.png');
}
.quick-actions i.icon-mail {
  background-image: url('../img/icons/32/mail.png');
}
.quick-actions i.icon-pdf {
  background-image: url('../img/icons/32/pdf.png');
}
.quick-actions i.icon-people {
  background-image: url('../img/icons/32/people.png');
}
.quick-actions i.icon-piechart {
  background-image: url('../img/icons/32/piechart.png');
}
.quick-actions i.icon-search {
  background-image: url('../img/icons/32/search.png');
}
.quick-actions i.icon-shopping-bag {
  background-image: url('../img/icons/32/shopping-bag.png');
}
.quick-actions i.icon-survey {
  background-image: url('../img/icons/32/survey.png');
}
.quick-actions i.icon-tag {
  background-image: url('../img/icons/32/tag.png');
}
.quick-actions i.icon-user {
  background-image: url('../img/icons/32/user.png');
}
.quick-actions i.icon-wallet {
  background-image: url('../img/icons/32/wallet.png');
}
.quick-actions i.icon-web {
  background-image: url('../img/icons/32/web.png');
}
.quick-actions i.icon-dashboard {
  background-image: url('../img/icons/32/dashboard.png');
}
.quick-actions-horizontal {
  display: inline-block;
  list-style: none outside none;
  margin: 20px 0 10px;
  text-align: center;
}
.quick-actions-horizontal li {
  background: #F6F6F6;
  border: 1px solid #D5D5D5;
  box-shadow: 0 1px 0 0 #FFFFFF inset, 0 1px 0 rgba(255, 255, 255, 0.4);
  display: inline-block;
  line-height: 18px;
  margin: 0 10px 10px;
  padding: 0 10px;
  padding: 0;
}
.quick-actions-horizontal li a {
  display: block;
  color: #666666;
  font-weight: bold;
  text-shadow: 0 1px 0 #ffffff;
}
.quick-actions-horizontal li a:hover {
  background: #fff;
}
.quick-actions-horizontal li a span {
  padding: 10px 12px 10px 10px;
  display: inline-block;
}
.quick-actions-horizontal li a i[class^="icon-"] {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-color: transparent;
  width: 16px;
  height: 16px;
  display: inline-block;
  margin: -2px 0 0 !important;
  border-right: 1px solid #dddddd;
  margin-right: 10px;
  padding: 10px;
  vertical-align: middle;
}
.quick-actions-horizontal li a i[class*=" icon-"] {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-color: transparent;
  width: 16px;
  height: 16px;
  display: inline-block;
  margin: -2px 0 0 !important;
  border-right: 1px solid #dddddd;
  margin-right: 10px;
  padding: 10px;
  vertical-align: middle;
}
.quick-actions-horizontal li:hover {
  background: #fff;
}
.quick-actions-horizontal li:active {
  background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#EEEEEE), to(#F4F4F4));
  background-image: -webkit-linear-gradient(top, #EEEEEE 0%, #F4F4F4 100%);
  background-image: -moz-linear-gradient(top, #EEEEEE 0%, #F4F4F4 100%);
  background-image: -ms-linear-gradient(top, #EEEEEE 0%, #F4F4F4 100%);
  background-image: -o-linear-gradient(top, #EEEEEE 0%, #F4F4F4 100%);
  background-image: linear-gradient(top, #EEEEEE 0%, #F4F4F4 100%);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2) inset, 0 1px 0 rgba(255, 255, 255, 0.4);
}
.quick-actions-horizontal i.icon-book {
  background-image: url('../img/icons/16/book.png');
}
.quick-actions-horizontal i.icon-cabinet {
  background-image: url('../img/icons/16/cabinet.png');
}
.quick-actions-horizontal i.icon-calendar {
  background-image: url('../img/icons/16/calendar.png');
}
.quick-actions-horizontal i.icon-client {
  background-image: url('../img/icons/16/client.png');
}
.quick-actions-horizontal i.icon-database {
  background-image: url('../img/icons/16/database.png');
}
.quick-actions-horizontal i.icon-download {
  background-image: url('../img/icons/16/download.png');
}
.quick-actions-horizontal i.icon-graph {
  background-image: url('../img/icons/16/graph.png');
}
.quick-actions-horizontal i.icon-home {
  background-image: url('../img/icons/16/home.png');
}
.quick-actions-horizontal i.icon-lock {
  background-image: url('../img/icons/16/lock.png');
}
.quick-actions-horizontal i.icon-mail {
  background-image: url('../img/icons/16/mail.png');
}
.quick-actions-horizontal i.icon-pdf {
  background-image: url('../img/icons/16/pdf.png');
}
.quick-actions-horizontal i.icon-people {
  background-image: url('../img/icons/16/people.png');
}
.quick-actions-horizontal i.icon-piechart {
  background-image: url('../img/icons/16/piechart.png');
}
.quick-actions-horizontal i.icon-search {
  background-image: url('../img/icons/16/search.png');
}
.quick-actions-horizontal i.icon-shopping-bag {
  background-image: url('../img/icons/16/shopping-bag.png');
}
.quick-actions-horizontal i.icon-survey {
  background-image: url('../img/icons/16/survey.png');
}
.quick-actions-horizontal i.icon-tag {
  background-image: url('../img/icons/16/tag.png');
}
.quick-actions-horizontal i.icon-user {
  background-image: url('../img/icons/16/user.png');
}
.quick-actions-horizontal i.icon-wallet {
  background-image: url('../img/icons/16/wallet.png');
}
.quick-actions-horizontal i.icon-web {
  background-image: url('../img/icons/16/web.png');
}
.stats-plain {
  display: inline-block;
  list-style: none outside none;
  margin: 20px 0 10px;
  text-align: center;
  width: 100%;
}
.stats-plain li {
  padding: 0 30px;
  display: inline-block;
  margin: 0 10px 20px;
}
.stats-plain li h4 {
  font-size: 40px;
  margin-bottom: 15px;
}
.stats-plain li span {
  font-size: 14px;
  color: #555555;
}
.stat-boxes2 {
  background: none;
  width: 100%;
  padding: 0px;
  margin: 0 auto;
  position: relative;
  top: 13px;
  right: 10px;
}
