@import "variable/_color";
.quick-actions_homepage {
  width: 100%;
  text-align: center;
  float: left;
  margin-top: 10px;
}
.stat-boxes {
  display: inline-block;
  list-style: none outside none;
  margin: 20px 0 10px;
  text-align: center;
  li {
    background: #F6F6F6;
    border: 1px solid #D5D5D5;
    box-shadow: 0 1px 0 0 #FFFFFF inset, 0 1px 0 rgba(255, 255, 255, 0.4);
    display: inline-block;
    line-height: 18px;
    margin: 0 10px 10px;
    padding: 0 10px;
    a {
      &:hover {
        background: #fff;
      }
    }
    &:hover {
      background: #fff;
    }
  }
  .left {
    text-shadow: 0 1px 0 #fff;
    float: left;
    border-right: 1px solid #DCDCDC;
    box-shadow: 1px 0 0 0 #FFFFFF;
    font-size: 10px;
    font-weight: bold;
    margin-right: 10px;
    padding: 10px 14px 6px 4px;
    span {
      display: block;
    }
  }
  .right {
    text-shadow: 0 1px 0 #fff;
    float: left;
    color: @color_4;
    font-size: 12px;
    padding: 9px 10px 7px 0;
    text-align: center;
    width: 70px;
    strong {
      display: block;
      font-size: 26px;
      margin-bottom: 3px;
      margin-top: 6px;
    }
  }
  .peity_bar_good {
    color: @color_8;
  }
  .peity_line_good {
    color: @color_8;
  }
  .peity_bar_neutral {
    color: @color_9;
  }
  .peity_line_neutral {
    color: @color_9;
  }
  .peity_bar_bad {
    color: @color_10;
  }
  .peity_line_bad {
    color: @color_10;
  }
}
.quick-actions {
  display: inline-block;
  list-style: none outside none;
  margin: 20px 0 10px;
  text-align: center;
  li {
    background: #F6F6F6;
    border: 1px solid #D5D5D5;
    box-shadow: 0 1px 0 0 #FFFFFF inset, 0 1px 0 rgba(255, 255, 255, 0.4);
    display: inline-block;
    line-height: 18px;
    margin: 0 10px 10px;
    padding: 0 10px;
    min-width: 175px;
    padding: 0;
    a {
      &:hover {
        background: #fff;
      }
      padding: 10px 30px;
      display: block;
      color: @color_4;
      font-weight: bold;
      text-shadow: 0 1px 0 #ffffff;
      i[class^="icon-"] {
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: 0 0;
        background-color: @background_color_6;
        width: 32px;
        height: 32px;
        display: block;
        margin: 0 auto 5px;
      }
      i[class*=" icon-"] {
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: 0 0;
        background-color: @background_color_6;
        width: 32px;
        height: 32px;
        display: block;
        margin: 0 auto 5px;
      }
    }
    &:hover {
      background: #fff;
    }
    &:active {
      background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#EEEEEE), to(#F4F4F4));
      background-image: -webkit-linear-gradient(top, #EEEEEE 0%, #F4F4F4 100%);
      background-image: -moz-linear-gradient(top, #EEEEEE 0%, #F4F4F4 100%);
      background-image: -ms-linear-gradient(top, #EEEEEE 0%, #F4F4F4 100%);
      background-image: -o-linear-gradient(top, #EEEEEE 0%, #F4F4F4 100%);
      background-image: linear-gradient(top, #EEEEEE 0%, #F4F4F4 100%);
      box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2) inset, 0 1px 0 rgba(255,255,255,0.4);
    }
  }
  i.icon-book {
    background-image: url('../img/icons/32/book.png');
  }
  i.icon-cabinet {
    background-image: url('../img/icons/32/cabinet.png');
  }
  i.icon-calendar {
    background-image: url('../img/icons/32/calendar.png');
  }
  i.icon-client {
    background-image: url('../img/icons/32/client.png');
  }
  i.icon-database {
    background-image: url('../img/icons/32/database.png');
  }
  i.icon-download {
    background-image: url('../img/icons/32/download.png');
  }
  i.icon-graph {
    background-image: url('../img/icons/32/graph.png');
  }
  i.icon-home {
    background-image: url('../img/icons/32/home.png');
  }
  i.icon-lock {
    background-image: url('../img/icons/32/lock.png');
  }
  i.icon-mail {
    background-image: url('../img/icons/32/mail.png');
  }
  i.icon-pdf {
    background-image: url('../img/icons/32/pdf.png');
  }
  i.icon-people {
    background-image: url('../img/icons/32/people.png');
  }
  i.icon-piechart {
    background-image: url('../img/icons/32/piechart.png');
  }
  i.icon-search {
    background-image: url('../img/icons/32/search.png');
  }
  i.icon-shopping-bag {
    background-image: url('../img/icons/32/shopping-bag.png');
  }
  i.icon-survey {
    background-image: url('../img/icons/32/survey.png');
  }
  i.icon-tag {
    background-image: url('../img/icons/32/tag.png');
  }
  i.icon-user {
    background-image: url('../img/icons/32/user.png');
  }
  i.icon-wallet {
    background-image: url('../img/icons/32/wallet.png');
  }
  i.icon-web {
    background-image: url('../img/icons/32/web.png');
  }
  i.icon-dashboard {
    background-image: url('../img/icons/32/dashboard.png');
  }
}
.quick-actions-horizontal {
  display: inline-block;
  list-style: none outside none;
  margin: 20px 0 10px;
  text-align: center;
  li {
    background: #F6F6F6;
    border: 1px solid #D5D5D5;
    box-shadow: 0 1px 0 0 #FFFFFF inset, 0 1px 0 rgba(255, 255, 255, 0.4);
    display: inline-block;
    line-height: 18px;
    margin: 0 10px 10px;
    padding: 0 10px;
    padding: 0;
    a {
      &:hover {
        background: #fff;
      }
      span {
        padding: 10px 12px 10px 10px;
        display: inline-block;
      }
      display: block;
      color: @color_4;
      font-weight: bold;
      text-shadow: 0 1px 0 #ffffff;
      i[class^="icon-"] {
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center;
        background-color: @background_color_6;
        width: 16px;
        height: 16px;
        display: inline-block;
        margin: -2px 0 0 !important;
        border-right: 1px solid #dddddd;
        margin-right: 10px;
        padding: 10px;
        vertical-align: middle;
      }
      i[class*=" icon-"] {
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center;
        background-color: @background_color_6;
        width: 16px;
        height: 16px;
        display: inline-block;
        margin: -2px 0 0 !important;
        border-right: 1px solid #dddddd;
        margin-right: 10px;
        padding: 10px;
        vertical-align: middle;
      }
    }
    &:hover {
      background: #fff;
    }
    &:active {
      background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#EEEEEE), to(#F4F4F4));
      background-image: -webkit-linear-gradient(top, #EEEEEE 0%, #F4F4F4 100%);
      background-image: -moz-linear-gradient(top, #EEEEEE 0%, #F4F4F4 100%);
      background-image: -ms-linear-gradient(top, #EEEEEE 0%, #F4F4F4 100%);
      background-image: -o-linear-gradient(top, #EEEEEE 0%, #F4F4F4 100%);
      background-image: linear-gradient(top, #EEEEEE 0%, #F4F4F4 100%);
      box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2) inset, 0 1px 0 rgba(255,255,255,0.4);
    }
  }
  i.icon-book {
    background-image: url('../img/icons/16/book.png');
  }
  i.icon-cabinet {
    background-image: url('../img/icons/16/cabinet.png');
  }
  i.icon-calendar {
    background-image: url('../img/icons/16/calendar.png');
  }
  i.icon-client {
    background-image: url('../img/icons/16/client.png');
  }
  i.icon-database {
    background-image: url('../img/icons/16/database.png');
  }
  i.icon-download {
    background-image: url('../img/icons/16/download.png');
  }
  i.icon-graph {
    background-image: url('../img/icons/16/graph.png');
  }
  i.icon-home {
    background-image: url('../img/icons/16/home.png');
  }
  i.icon-lock {
    background-image: url('../img/icons/16/lock.png');
  }
  i.icon-mail {
    background-image: url('../img/icons/16/mail.png');
  }
  i.icon-pdf {
    background-image: url('../img/icons/16/pdf.png');
  }
  i.icon-people {
    background-image: url('../img/icons/16/people.png');
  }
  i.icon-piechart {
    background-image: url('../img/icons/16/piechart.png');
  }
  i.icon-search {
    background-image: url('../img/icons/16/search.png');
  }
  i.icon-shopping-bag {
    background-image: url('../img/icons/16/shopping-bag.png');
  }
  i.icon-survey {
    background-image: url('../img/icons/16/survey.png');
  }
  i.icon-tag {
    background-image: url('../img/icons/16/tag.png');
  }
  i.icon-user {
    background-image: url('../img/icons/16/user.png');
  }
  i.icon-wallet {
    background-image: url('../img/icons/16/wallet.png');
  }
  i.icon-web {
    background-image: url('../img/icons/16/web.png');
  }
}
.stats-plain {
  display: inline-block;
  list-style: none outside none;
  margin: 20px 0 10px;
  text-align: center;
  width: 100%;
  li {
    padding: 0 30px;
    display: inline-block;
    margin: 0 10px 20px;
    h4 {
      font-size: 40px;
      margin-bottom: 15px;
    }
    span {
      font-size: 14px;
      color: @color_3;
    }
  }
}
.stat-boxes2 {
  background: none;
  width: 100%;
  padding: 0px;
  margin: 0 auto;
  position: relative;
  top: 13px;
  right: 10px;
}