#style-switcher {
  position: absolute;
  width: 220px;
  height: 30px;
  background-color: #000000;
  z-index: 40;
  right: 0;
  top: 123px;
  border-radius: 5px 0 0 5px;
  margin-right: -190px;
}
#style-switcher i {
  display: inline-block;
  margin: -5px 10px 0 10px;
}
#style-switcher i:hover {
  cursor: pointer;
}
#style-switcher span {
  font-weight: bold;
  color: #ffffff;
  display: inline-block;
  margin: -15px 20px 0 0;
  vertical-align: middle;
}
#style-switcher a {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
}
