@import "variable/_color";
#sidebar {
  width: 100%;
  background: none;
  position: absolute;
  clear: both;
  top: 65px;
  >ul {
    margin: 0px;
    padding: 0px;
    width: 100%;
    display: block;
    z-index: 999;
    >li {
      list-style-type: none;
      float: left;
      display: block;
      margin: 0px;
      border-right: 1px dotted #6b6b6b;
      position: relative;
      padding: 10px;
      cursor: pointer;
      &:hover {
        ul {
          display: block;
        }
        background-color: @background_color_2;
        a {
          background: none;
        }
      }
    }
    li {
      ul {
        margin: 0px;
        padding: 0px;
        display: none;
        z-index: 999;
        position: absolute;
        border-radius: 3px;
        left: 0px;
        top: 40px;
        background: #2b2b2b;
        min-width: 200px;
        li {
          list-style-type: none;
          margin: 0px;
          font-size: 12px;
          line-height: 30px;
          a {
            display: block;
            padding: 5px 10px;
            color: @color_1;
            text-decoration: none;
            font-weight: bold;
          }
          &:hover {
            a {
              background-color: @background_color_3;
              border-radius: 3px;
            }
          }
        }
      }
      span {
        cursor: pointer;
        margin: 0px 2px 0 5px;
        font-weight: bold;
        color: @color_1;
        font-size: 11px;
      }
      a {
        i {
          background-image: url("../img/glyphicons-halflings-white.png");
          margin-top: 4px;
          vertical-align: top;
        }
      }
    }
  }
  li {
    a {
      i {
        vertical-align: top;
        background-image: url('../img/glyphicons-halflings-white.png');
        margin-top: 2px;
      }
    }
  }
}
#my_menu_input {
  display: none;
}
#user-nav {
  position: absolute;
  right: 0px;
  top: 5px;
  z-index: 20;
  margin: 0;
  border-left: 1px solid #3d3a37;
  >ul {
    margin: 0;
    padding: 0;
    list-style: none;
    >li {
      float: left;
      list-style-type: none;
      margin: 0;
      position: relative;
      padding: 6px 0;
      background: #2b2b2b;
      border-left: 1px solid #1e1c1a;
      border-right: 1px solid #3d3a37;
      &:hover {
        background: #000;
      }
      >a {
        padding: 13px 10px;
        display: block;
        font-size: 12px;
        &:hover {
          color: @color_2;
          >i {
            opacity: 1;
          }
        }
        >i {
          vertical-align: top;
          background-image: url('../img/glyphicons-halflings-white.png');
          margin-top: 2px;
        }
        >.label {
          vertical-align: middle;
          padding: 1px 4px 1px;
          margin: -2px 4px 0;
          display: inline-block;
        }
      }
    }
    >li.open {
      >a {
        color: @color_2;
        >i {
          opacity: 1;
        }
      }
    }
    ul {
      >li {
        >a {
          text-align: left;
          text-shadow: 0 1px 0 #ffffff;
          &:hover {
            text-shadow: 0 1px 0 rgba(0,0,0,0.5);
          }
        }
      }
    }
  }
}