#sidebar {
  width: 100%;
  background: none;
  position: absolute;
  clear: both;
  top: 65px;
}
#sidebar > ul {
  margin: 0px;
  padding: 0px;
  width: 100%;
  display: block;
  z-index: 999;
}
#sidebar > ul > li {
  list-style-type: none;
  float: left;
  display: block;
  margin: 0px;
  border-right: 1px dotted #6b6b6b;
  position: relative;
  padding: 10px;
  cursor: pointer;
}
#sidebar > ul > li:hover {
  background-color: #2b2b2b;
}
#sidebar > ul > li:hover ul {
  display: block;
}
#sidebar > ul > li:hover a {
  background: none;
}
#sidebar > ul li ul {
  margin: 0px;
  padding: 0px;
  display: none;
  z-index: 999;
  position: absolute;
  border-radius: 3px;
  left: 0px;
  top: 40px;
  background: #2b2b2b;
  min-width: 200px;
}
#sidebar > ul li ul li {
  list-style-type: none;
  margin: 0px;
  font-size: 12px;
  line-height: 30px;
}
#sidebar > ul li ul li a {
  display: block;
  padding: 5px 10px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
#sidebar > ul li ul li:hover a {
  background-color: #606060;
  border-radius: 3px;
}
#sidebar > ul li span {
  cursor: pointer;
  margin: 0px 2px 0 5px;
  font-weight: bold;
  color: #fff;
  font-size: 11px;
}
#sidebar > ul li a i {
  background-image: url("../img/glyphicons-halflings-white.png");
  margin-top: 4px;
  vertical-align: top;
}
#sidebar li a i {
  vertical-align: top;
  background-image: url('../img/glyphicons-halflings-white.png');
  margin-top: 2px;
}
#my_menu_input {
  display: none;
}
#user-nav {
  position: absolute;
  right: 0px;
  top: 5px;
  z-index: 20;
  margin: 0;
  border-left: 1px solid #3d3a37;
}
#user-nav > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#user-nav > ul > li {
  float: left;
  list-style-type: none;
  margin: 0;
  position: relative;
  padding: 6px 0;
  background: #2b2b2b;
  border-left: 1px solid #1e1c1a;
  border-right: 1px solid #3d3a37;
}
#user-nav > ul > li:hover {
  background: #000;
}
#user-nav > ul > li > a {
  padding: 13px 10px;
  display: block;
  font-size: 12px;
}
#user-nav > ul > li > a:hover {
  color: #ffffff;
}
#user-nav > ul > li > a:hover > i {
  opacity: 1;
}
#user-nav > ul > li > a > i {
  vertical-align: top;
  background-image: url('../img/glyphicons-halflings-white.png');
  margin-top: 2px;
}
#user-nav > ul > li > a > .label {
  vertical-align: middle;
  padding: 1px 4px 1px;
  margin: -2px 4px 0;
  display: inline-block;
}
#user-nav > ul > li.open > a {
  color: #ffffff;
}
#user-nav > ul > li.open > a > i {
  opacity: 1;
}
#user-nav > ul ul > li > a {
  text-align: left;
  text-shadow: 0 1px 0 #ffffff;
}
#user-nav > ul ul > li > a:hover {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}
