.widget-box {
  background: none repeat scroll 0 0 #F9F9F9;
  border-top: 1px solid #CDCDCD;
  border-left: 1px solid #CDCDCD;
  border-right: 1px solid #CDCDCD;
  clear: both;
  margin-top: 16px;
  margin-bottom: 16px;
  position: relative;
}
.widget-box.widget-calendar {
  overflow: hidden !important;
}
.widget-box.widget-chat {
  overflow: hidden !important;
}
.accordion .widget-box {
  margin-top: -2px;
  margin-bottom: 0;
  border-radius: 0;
}
.widget-box.widget-plain {
  background: transparent;
  border: none;
  margin-top: 0;
  margin-bottom: 0;
}
.widget-box.widget-plain .widget-content {
  padding: 12px 0 0;
}
.widget-title {
  background-color: #efefef;
  border-bottom: 1px solid #CDCDCD;
  height: 36px;
}
.widget-title .nav-tabs {
  border-bottom: 0 none;
}
.widget-title .nav-tabs li a {
  border-bottom: medium none !important;
  border-left: 1px solid #DDDDDD;
  border-radius: 0 0 0 0;
  border-right: 1px solid #DDDDDD;
  border-top: medium none;
  color: #999999;
  margin: 0;
  outline: medium none;
  padding: 9px 10px 8px;
  font-weight: bold;
  text-shadow: 0 1px 0 #FFFFFF;
}
.widget-title .nav-tabs li a:hover {
  background-color: transparent !important;
  border-color: #D6D6D6;
  border-width: 0 1px;
  color: #666666;
}
.widget-title .nav-tabs li:first-child a {
  border-left: medium none !important;
}
.widget-title .nav-tabs li.active a {
  background-color: #F9F9F9 !important;
  color: #444444;
}
.widget-title span.icon {
  border-right: 1px solid #cdcdcd;
  padding: 9px 10px 7px 11px;
  float: left;
  opacity: .7;
}
.widget-title h5 {
  color: #666666;
  text-shadow: 0 1px 0 #ffffff;
  float: left;
  font-size: 12px;
  font-weight: bold;
  padding: 12px;
  line-height: 12px;
  margin: 0;
}
.widget-title .buttons {
  float: right;
  margin: 8px 10px 0 0;
}
.widget-title .label {
  padding: 3px 5px 2px;
  float: right;
  margin: 9px 11px 0 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset, 0 1px 0 #ffffff;
}
.modal-header {
  background-color: #efefef;
  border-bottom: 1px solid #CDCDCD;
  height: 36px;
  height: auto;
  padding: 8px 15px 5px;
}
.modal-header h3 {
  font-size: 12px;
  text-shadow: 0 1px 0 #ffffff;
}
.table th {
  background-color: #efefef;
  border-bottom: 1px solid #CDCDCD;
  height: 36px;
  height: auto;
  font-size: 10px;
  padding: 5px 10px 2px;
  border-bottom: 0;
  text-align: center;
  color: #666666;
}
.table tr.checked td {
  background-color: #FFFFE3 !important;
}
div.dataTables_wrapper .ui-widget-header {
  background-color: #efefef;
  border-bottom: 1px solid #CDCDCD;
  height: 36px;
  border-right: medium none;
  border-top: 1px solid #D5D5D5;
  font-weight: normal;
  margin-top: -1px;
}
.widget-calendar .widget-title .label {
  margin-right: 190px;
}
.widget-content {
  padding: 12px 15px;
  border-bottom: 1px solid #cdcdcd;
}
.widget-box.collapsible .collapse.in .widget-content {
  border-bottom: 1px solid #CDCDCD;
}
.recent-posts {
  margin: 0;
  padding: 0;
}
.recent-posts li {
  border-bottom: 1px dotted #AEBDC8;
  list-style: none outside none;
  padding: 10px;
}
.recent-posts li:last-child {
  border-bottom: none !important;
}
.recent-posts li.viewall {
  padding: 0;
}
.recent-posts li.viewall a {
  padding: 5px;
  text-align: center;
  display: block;
  color: #888888;
}
.recent-posts li.viewall a:hover {
  background-color: #eeeeee;
}
.recent-comments {
  margin: 0;
  padding: 0;
}
.recent-comments li {
  border-bottom: 1px dotted #AEBDC8;
  list-style: none outside none;
  padding: 10px;
}
.recent-comments li:last-child {
  border-bottom: none !important;
}
.recent-comments li.viewall {
  padding: 0;
}
.recent-comments li.viewall a {
  padding: 5px;
  text-align: center;
  display: block;
  color: #888888;
}
.recent-comments li.viewall a:hover {
  background-color: #eeeeee;
}
.recent-users {
  margin: 0;
  padding: 0;
}
.recent-users li {
  border-bottom: 1px dotted #AEBDC8;
  list-style: none outside none;
  padding: 10px;
}
.recent-users li:last-child {
  border-bottom: none !important;
}
.recent-users li.viewall {
  padding: 0;
}
.recent-users li.viewall a {
  padding: 5px;
  text-align: center;
  display: block;
  color: #888888;
}
.recent-users li.viewall a:hover {
  background-color: #eeeeee;
}
.article-post li {
  border-bottom: 1px dotted #AEBDC8;
  list-style: none outside none;
  padding: 10px;
}
.user-thumb {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #B6BCBF;
  float: left;
  height: 40px;
  margin-right: 10px;
  margin-top: 5px;
  padding: 2px;
  width: 40px;
}
.user-info {
  color: #666666;
  font-size: 11px;
}
.site-stats {
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-stats li {
  background-color: #F5F5F5;
  border: 1px solid #DDDDDD;
  cursor: pointer;
  margin: 0 0 10px;
  padding: 13px 20px 10px;
  position: relative;
}
.site-stats li:hover {
  background-color: #EDEDED;
}
.site-stats li i {
  vertical-align: baseline;
}
.site-stats li strong {
  font-weight: bold;
  font-size: 20px;
  margin-left: 5px;
}
.site-stats li small {
  margin-left: 5px;
  font-size: 12px;
  color: #888888;
  font-style: italic;
}
.site-stats li.divider {
  padding: 0;
  border-width: 1px 0 0;
  border-color: #DDDDDD;
  border-style: dashed;
}
.invoice-content {
  padding: 20px;
}
.invoice-content h5 {
  color: #333333;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 10px;
}
.invoice-content ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.invoice-content th.total-label {
  text-align: right;
}
.invoice-content th.total-amount {
  text-align: left;
}
.invoice-action {
  margin-bottom: 30px;
}
.invoice-head {
  clear: both;
  margin-bottom: 40px;
  overflow: hidden;
  width: auto;
}
.invoice-meta {
  font-size: 18px;
  margin-bottom: 40px;
}
.invoice-date {
  float: right;
  font-size: 80%;
}
.invoice-to {
  float: left;
  width: 370px;
}
.invoice-to li {
  clear: left;
}
.invoice-to li span {
  display: block;
}
.invoice-from {
  float: right;
  width: 300px;
}
.invoice-from li {
  clear: left;
}
.invoice-from li span {
  display: block;
}
.amount-word {
  color: #666666;
  margin-bottom: 40px;
  margin-top: 40px;
}
.amount-word span {
  color: #5476A6;
  font-weight: bold;
  padding-left: 20px;
}
.panel-left {
  margin-top: 103px;
}
.panel-left2 {
  margin-left: 176px;
}
.panel-right {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #dddddd;
  position: absolute;
  right: 0;
  overflow: auto;
  top: 38px;
  height: 76px;
}
.panel-right .panel-title {
  width: 100%;
  background-color: #ececec;
  border-bottom: 1px solid #dddddd;
}
.panel-right .panel-title h5 {
  font-size: 12px;
  color: #777777;
  text-shadow: 0 1px 0 #ffffff;
  padding: 6px 10px 5px;
  margin: 0;
}
.panel-right .panel-content {
  padding: 10px;
}
.panel-right2 {
  width: 100%;
  background-color: #fff;
  border-right: 1px solid #dddddd;
  position: absolute;
  left: 0;
  overflow: auto;
  top: 38px;
  height: 87%;
  width: 175px;
}
.panel-right2 .panel-title {
  width: 100%;
  background-color: #ececec;
  border-bottom: 1px solid #dddddd;
}
.panel-right2 .panel-title h5 {
  font-size: 12px;
  color: #777777;
  text-shadow: 0 1px 0 #ffffff;
  padding: 6px 10px 5px;
  margin: 0;
}
.chat-content {
  height: 470px;
  padding: 15px;
}
.chat-messages {
  height: 420px;
  overflow: auto;
  position: relative;
}
.chat-message {
  padding: 7px 15px;
  margin: 7px 0 0;
}
.chat-message input[type=text] {
  margin-bottom: 0 !important;
  width: 100%;
}
.chat-message .input-box {
  display: block;
  margin-right: 90px;
}
.chat-message button {
  float: right;
}
#chat-messages-inner p {
  padding: 0px;
  margin: 10px 0 0 0;
}
#chat-messages-inner p img {
  display: inline-block;
  float: left;
  vertical-align: middle;
  width: 28px;
  height: 28px;
  margin-top: -1px;
  margin-right: 10px;
}
#chat-messages-inner .msg-block {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #cccccc;
  box-shadow: 1px 1px 0 1px rgba(0, 0, 0, 0.05);
  display: block;
  margin-left: 0px;
  padding: 10px;
  position: relative;
}
#chat-messages-inner .msg-block:before {
  border-right: 7px solid rgba(0, 0, 0, 0.1);
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  content: "";
  display: none;
  left: -7px;
  position: absolute;
  top: 11px;
}
#chat-messages-inner .msg-block:after {
  border-right: 6px solid #ffffff;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  content: "";
  display: none;
  left: -6px;
  position: absolute;
  top: 12px;
}
#chat-messages-inner p.offline span {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #cccccc;
  box-shadow: 1px 1px 0 1px rgba(0, 0, 0, 0.05);
  display: block;
  margin-left: 0px;
  padding: 10px;
  position: relative;
  background: none repeat scroll 0 0 #FFF5F5;
}
#chat-messages-inner .time {
  color: #999999;
  font-size: 11px;
  float: right;
}
#chat-messages-inner .msg {
  display: block;
  margin-top: 13px;
  border-top: 1px solid #dadada;
}
.chat-users {
  padding: 0 0 30px;
}
.chat-users .contact-list {
  line-height: 21px;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  font-size: 10px;
}
.chat-users .contact-list li {
  border: 1px solid #DADADA;
  margin: 5px 5px;
  padding: 1px;
  position: relative;
}
.chat-users .contact-list li:hover {
  background-color: #efefef;
}
.chat-users .contact-list li a {
  color: #666666;
  display: block;
  padding: 8px 5px;
}
.chat-users .contact-list li a img {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
  width: 28px;
  height: 28px;
  border-radius: 3px;
}
.chat-users .contact-list li .msg-count {
  padding: 3px 5px;
  position: absolute;
  right: 10px;
  top: 12px;
}
.chat-users .contact-list li.online a {
  font-weight: bold;
}
.chat-users .contact-list li.new {
  background-color: #eaeaea;
}
.chat-users .contact-list li.offline {
  background-color: #EDE0E0;
}
.taskDesc i {
  margin: 1px 5px 0;
}
.taskStatus {
  text-align: center !important;
}
.taskStatus .in-progress {
  color: #64909E;
}
.taskStatus .pending {
  color: #AC6363;
}
.taskStatus .done {
  color: #75B468;
}
.taskOptions {
  text-align: center !important;
}
.activity-list {
  list-style: none outside none;
  margin: 0;
}
.activity-list li {
  border-bottom: 1px solid #EEEEEE;
  display: block;
}
.activity-list li:last-child {
  border-bottom: medium none;
}
.activity-list li a {
  color: #888888;
  display: block;
  padding: 7px 10px;
}
.activity-list li a:hover {
  background-color: #FBFBFB;
}
.activity-list li a span {
  color: #AAAAAA;
  font-size: 11px;
  font-style: italic;
}
.activity-list li a i {
  margin-right: 10px;
  opacity: 0.6;
  vertical-align: middle;
}
.new-update {
  border-top: 1px solid #DDDDDD;
  padding: 10px 12px;
}
.new-update:first-child {
  border-top: medium none;
}
.new-update span {
  display: block;
}
.new-update i {
  float: left;
  margin-top: 3px;
  margin-right: 13px;
}
.new-update .update-date {
  color: #BBBBBB;
  float: right;
  margin: 4px -2px 0 0;
  text-align: center;
  width: 30px;
}
.new-update .update-date .update-day {
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: -4px;
}
.update-done {
  display: block;
  float: left;
  max-width: 76%;
}
.update-alert {
  display: block;
  float: left;
  max-width: 76%;
}
.update-notice {
  display: block;
  float: left;
  max-width: 76%;
}
